
consTest/.vs/consTest/v15/.suo
consTest/bin/Release/consTest.exe.config
consTest/consTest/obj/Debug/CoreCompileInputs.cache
consTest/consTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
consTest/consTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
consTest/consTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
consTest/consTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
consTest/consTest/obj/Release/consTest.csproj.FileListAbsolute.txt
consTest/consTest/obj/Release/consTest.exe
consTest/consTest/obj/Release/consTest.pdb
consTest/consTest/obj/Release/CoreCompileInputs.cache
consTest/consTest/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
consTest/consTest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
consTest/consTest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
consTest/consTest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
consTest/consTest/obj/Release/consTest.csprojResolveAssemblyReference.cache
consTest/bin/Release/consTest.pdb
~$ExcelCmd.xlsm
